.header2 {
    background-image: url(../img/team/team.png);
    height: 35rem;
}


.pic-size {
    width: 20rem;
    height: 20rem;

    padding: 2rem;
}

.float {
    float: left;
}

.antoine-general {
    display: flex;
}