@font-face {
    font-family: "courgette";
    src: url(../font/Courgette/Courgette-Regular.ttf);
}
@font-face {
    font-family: "oswald";
    src: url(../font/Oswald/OFL.txt) format(“txt”);
}

 .courgette {
    font-family: "courgette";
}

.oswald {
    font-family: 'Oswald', sans-serif;
}


.white {
    color: white;
}

.black {
    color: black;
}

.black:hover {
    color: black;
}


/* header */


.header1 {
    background-image: url(../img/header.png);
    height: 35rem;
}

.header2 {
    background-image: url(../img/team/team.png);
    height: 35rem;
}

.main-content {
    width: 100rem;

    display: block;
    align-items: center;
    justify-content: center;    
}

.border-color {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* body */

.article-size {
    font-size: 1rem;
}

.flex-article {
    display: block;
}

.article-1 {
    display: flex;
}

.button-size {
    width: 15rem;
}

.flex-icone {
    display: flex;
}

.space {
    margin-right: 1.5rem;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: black;
    color: white;
}

.none-list {
    list-style: none;
    text-decoration: none;
}

.white {
    color: white;
}

.flex-footer {
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.border {
    border-color: white;
}

.footer-form {
    width: 15rem;

}

.form-end {
    display: flex;
}

.icone-2 {
    padding: 0.2rem;
    background-color: white;
}

.flex-icone {
    display: block;
    align-items: center;
}

.white-icone {
    display: flex;
}

/*********** RESPONSIVE **********/

/* MD */

@media (max-width:768px) {
    .form {
        display: none;
    }

    .footer {
        display: block;
        margin-left: 10rem;
    }

    .header1 {
        background-image: url(../img/header-md.png);
    }
}

/* SM */

@media (max-width:576px) {
    .article-1 {
        flex-direction: column;
        display: block;
    }

    .article {
        justify-content: center;
    }

    section img {
        width: 533px;
    }

    .container-md, img{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .sm-center {
        padding: 0;
        margin: 0;
    }

    .header1 {
        background-image: url(../img/header-sm.png);
    }
}