.header4 {
    background-image: url(../img/recipes/paella/paella-header.png);
    height: 35rem;
}

.preparation {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 11rem;
}

.top-content {
    display: flex;
    justify-content: space-between;

    width: 78%;
}

.ingredients, button {
    margin-bottom: 0.3rem;
}

.ingredients {
    width: 27%;
}

.recipe-content {
    display: flex;
}

.step-recipe {
    width: 75%;
}

.form-width {
    width: 19%;
}

.float-right {
    float: right;
}

.bck-grey {
    background-color: rgba(128, 128, 128, 1);
    width: 6rem;
}

.flex-relative {
    position: relative;
}

.flex-absolut {
    display: block;
    position: absolute;

    bottom: -8;
}