.header2 {
    background-image: url(../img/team/team.png);
    height: 35rem;
}

.pic-size {
    width: 7rem;
    height: 7rem;
}

.main-general {
    display: flex;
}

.team-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}